{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": "http://192.168.43.59:8123",
        "latitude": 23.2526,
        "location_name": "Ghar",
        "longitude": 77.4045,
        "time_zone": "Asia/Kolkata",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}